.sidebar {
  background: var(--clr-grey-10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.show-sidebar {
  opacity: 0.95;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar-links li {
  opacity: 0;
}

.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  margin-bottom: 1.5rem;
  font-size: 2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: var(--radius);
}

.sidebar-links li a:hover {
  background: var(--clr-primary-9);
  color: var(--clr-primary-5);
}

.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-1);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .sidebar {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/* --------- Animation ---------*/
.sidebar-links li {
  -webkit-animation: slideRight 0.5s ease-in-out 0.3s forwards;
          animation: slideRight 0.5s ease-in-out 0.3s forwards;
}

.sidebar-links li:nth-of-type(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.sidebar-links li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.sidebar-links li:nth-of-type(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.sidebar-links li:nth-of-type(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sidebar-links li:nth-of-type(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.sidebar-icons li {
  opacity: 0;
  -webkit-animation: slideUp 0.5s ease-in-out 0.3s forwards;
          animation: slideUp 0.5s ease-in-out 0.3s forwards;
}

.sidebar-icons li:nth-of-type(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.sidebar-icons li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.sidebar-icons li:nth-of-type(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.sidebar-icons li:nth-of-type(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sidebar-icons li:nth-of-type(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=SideMenu.css.map */